.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  height: 100%;

  &.blured {
    backdrop-filter: blur(0.375rem);
  }
}

.dorsWrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.loaderDot {
  display: flex;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #ccccd9;
  border-radius: 50%;
  animation: dotWave 1.4s infinite ease-in-out;

  &:nth-child(2) {
    animation-delay: 0.2s;
  }

  &:nth-child(3) {
    animation-delay: 0.4s;
  }
}

@keyframes dotWave {
  0%,
  80%,
  100% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.5);
  }
}


