.reactModal {
  outline: none;
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  max-width: 31.25rem;
  width: 100%;
  border-radius: 0.75rem;
  background: #fff;
  box-shadow: 0rem 0.125rem 1.25rem 0rem rgba(21, 53, 103, 0.1);
  padding: 2rem;
  max-height: 90vh;
  display: flex;
  flex-direction: column;

  @media (max-width: 32.5rem) {
    padding: 0.75rem 0.75rem 2rem 0.75rem;
    width: calc(100% - 1.25rem);
    margin: 0 auto;
  }

  @media (max-height: 46.875rem) {
    /* max-height: 43.75rem; */
  }
}

.closeButton {
  z-index: 12;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal {
  overflow-y: auto;
  background: #fff;
  padding-right: 5px;

  &::-webkit-scrollbar {
    width: 0.375rem;
    border-radius: 6.25rem;
    background: #f3f4f5;
    position: absolute;
  }

  &::-webkit-scrollbar-thumb {
    position: absolute;
    border-radius: 6.25rem;
    background: #c9c9c9;
    height: 0.375rem;
  }

  &::-webkit-scrollbar-track {
    position: absolute;
    background-color: #f1f1f1;
    border-radius: 0.375rem;
  }
  @media (max-height: 46.875rem) {
    max-height: 34.375rem;
  }
}

.modalTitle {
  position: absolute;
  top: 3rem;
  left: 1.875rem;
  color: #222;
  font-size: 1.5rem;
  font-weight: 600;
}

@keyframes fadeIn {
  from {
    backdrop-filter: blur(0rem);
    background-color: rgba(100, 100, 100, 0);
    opacity: 0;
  }
  to {
    backdrop-filter: blur(0.9375rem);
    background-color: rgba(100, 100, 100, 0.3);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    backdrop-filter: blur(0.9375rem);
    background-color: rgba(100, 100, 100, 0.3);
    opacity: 1;
  }
  to {
    backdrop-filter: blur(0rem);
    background-color: rgba(100, 100, 100, 0);
    opacity: 0;
  }
}

.overlay {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  inset: 0rem;
  backdrop-filter: blur(0rem);
  background-color: rgba(100, 100, 100, 0);
  opacity: 0;
}

.overlayEnter {
  animation: fadeIn 0.15s ease-in-out forwards;
}

.overlayExit {
  animation: fadeOut 0.1s ease-in-out forwards;
}


