.radioBlock {
  position: relative;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.radioLabel {
  display: flex;
  gap: 0.375rem;
  align-items: center;
}

.radio {
  position: relative;
  display: flex;
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
}

.input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;

  &:checked + .radiomark {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
  }

  &:checked + .radiomark:after {
    display: block;
  }

  &:hover:not(:disabled) + .radiomark {
    border-color: var(--color-primary-hover);
  }
}

.radiomark {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.25rem;
  height: 1.25rem;
  background-color: white;
  border: 0.0625rem solid #d1d5db;
  border-radius: 50%;
  transition: all var(--transition-fast);
  box-shadow: 0rem 0.125rem 0.375rem 0rem rgba(24, 24, 51, 0.1);

  &:after {
    content: "";
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: white;
  }

  &.disabled {
    opacity: 0.4;
    cursor-events: none;
    cursor: not-allowed;

    &:after {
      opacity: 0.4;
    }
  }
}

.labelContent {
  display: flex;
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.error {
  position: absolute;
  color: red;
  font-size: 0.75rem;
  margin-top: 0.25rem;
  color: red;
  bottom: -1rem;
  left: 0.75rem;
}

